<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow"/>
    <section name="Application" type="Seavus.Framework.SeleniumPageAutomation.Configuration.ApplicationObjectConfiguration, Seavus.Framework.SeleniumPageAutomation"/>    
  </configSections>

  <specFlow>
    <unitTestProvider name="MsTest" />
  </specFlow>

  <Application name="Calculator" browser="OpenQA.Selenium.PhantomJS.PhantomJSDriver, WebDriver" url="http://localhost:62924/calculator.htm">
  <!--<Application name="Calculator" browser="OpenQA.Selenium.Chrome.ChromeDriver, WebDriver" url="http://localhost:62924/calculator.htm">-->
    <Page name="Calculator" type="CalculatorWebTests.CalculatorPage, CalculatorWebTests">
      <Elements>
        <Element name="1" by="Value" value="1" />
        <Element name="2" by="Value" value="2" />
        <Element name="3" by="Value" value="3" />
        <Element name="4" by="Value" value="4" />
        <Element name="5" by="Value" value="5" />
        <Element name="6" by="Value" value="6" />      
        <Element name="7" by="Value" value="7" />
        <Element name="8" by="Value" value="8" />
        <Element name="9" by="Value" value="9" />
        <Element name="0" by="Value" value="0" />
        <Element name="+" by="Value" value="+" />
        <Element name="-" by="Value" value="-" />
        <Element name="x" by="Value" value="x" />
        <Element name="/" by="Value" value="/" />
        <Element name="." by="Value" value="," />
        <Element name="=" by="Value" value="=" />
        <Element name="Back" by="Value" value="&#8592;" />
        <Element name="Result" by="Id" value="calc_result" />
        <Element name="CE" by="Value" value="CE" />
      </Elements>
      <Decimals>3</Decimals>
    </Page>
  </Application>

</configuration>
